@import "../../CssVariables.scss";

.money-app {
    background-color: $dark-color;
    height:100vh;
    h1 {
        color: $light-color;
    }
    .Movements {
        padding:10px;
        font-size:12px;
        .purchase {
            color:$light-color;
        }
        .date {
            color:$light-color;
            font-size:10px;
        }
        .amount {
            color:$red-color;
        }
    }
}